<div ng-controller="homeCtrl" class="padding">
    <!-- connection or registration -->
    <row ng-show="!isLoggedIn()">
        <div class="panel panel-default col-sm-10 col-md-8 col-lg-6 block-centered"
             style="margin-bottom:15px;border-style: dashed">
            <div class="row">
                <!-- connection -->
                <div class="padding col-md-5">
                    <ng-include src="'src/shared/authentication/authentication.view.html'"></ng-include>
                </div>
                <div class="padding col-md-2">
                    <h4 style="text-align: center">
                        OU
                    </h4>
                </div>
                <!-- registration -->
                <div class="padding col-md-5">
                    <ng-include src="'src/shared/registration/registration.view.html'"></ng-include>
                </div>
            </div>
        </div>
    </row>
    <row>
        <!-- content -->
        <div class="panel panel-default col-sm-10 col-md-8 col-lg-6 block-centered padding justified">
            <h1 style="margin-bottom: 20px; margin-top:5px">À propos
                <img src="assets/img/polytech-logo.ico" style="position: absolute; right:15px"/></h1>
            <p>Ecoknowledge est un PFE (Projet de Fin d'Études) développé lors de notre dernière
                année du cursus d'ingénierie informatique à Polytech Nice-Sophia (2015-2016).</p>

            <p>Ce projet s'inscrit dans un contexte d'économie d'énergie au sein de
                SmartBuildings. En effet, le secteur du bâtiment est le plus gros consommateur d'énergie et
                de nombreux efforts sont faits dans la domotique sur ces questions d’économie. Pour impliquer les
                collaborateurs de l'entreprise, le projet utilise les concepts de "gamification" visant à rendre ces
                efforts plus ludiques.
            </p>

            <h3 style="margin-bottom: 20px">Développeurs</h3>

            <!-- developers div -->
            <div style="display:flex">
                <div ng-repeat="user in developers" style="flex:1">
                    <!-- image -->
                    <img class="img-responsive img-circle user-pic user-pic-sm center-block animated flipInX"
                         ng-src="{{user.profilePic ? user.profilePic : 'assets/img/user-default.png'}}"/>
                    <!-- name -->
                    <h4 style="text-align:center" class="animated fadeInDown">{{user.firstName}} {{user.lastName.toUpperCase()}}</h4>
                </div>
            </div>
        </div>
    </row>
</div>
