<div class="panel panel-default row margin" style="padding:5px; margin-bottom:0">
    <div class="col-xs-6">
        <!-- search field -->
        <row class="navbar-form navbar-left" accept-charset="UTF-8" role="form" method="post" style="padding-left:0">
            <div class="input-group">
                    <span class="input-group-addon">
            <i class="glyphicon glyphicon-search">
            </i>
          </span>
                <input type="text" class="form-control" ng-model="$parent.searchFor" placeholder="Rechercher...">
            </div>
        </row>
    </div>
    <div class="col-xs-6">
        <!-- sort fields -->
        <row class="navbar-form navbar-right">
            <span>Trier par&nbsp;</span>
            <!-- sort options -->
            <div class="input-group">
                <select class="form-control" ng-model="$parent.sortBy"
                        ng-options="key for (key,value) in $parent.sortOptions"></select>
                <!-- ascending/descending -->
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="$parent.reverseOrder = !$parent.reverseOrder">
                        <span ng-show="!$parent.reverseOrder" class="glyphicon glyphicon-arrow-up"></span>
                        <span ng-show="$parent.reverseOrder" class="glyphicon glyphicon-arrow-down"></span>
                    </button>
                </div>
            </div>
        </row>
    </div>
</div>