<div class="modal-content">
    <div class='modal-header'>
        <!-- title -->
        <h2 style="margin:0;"><span class="important">{{challenge.name}}</span><span ng-show="challenge.levelAcquired"
                                                                                     class="glyphicon glyphicon-ok badge-glyphicon-sm"></span>
            <!-- close icon -->
            <span class="modal-close-icon" ng-click="cancel()">&times;</span></h2>
    </div>
    <div class='modal-body'>
        <div class="row">
            <!-- image -->
            <div class="col-xs-12 col-md-3" style="margin-bottom:15px; text-align:center">
                <img ng-show="challenge.image" class="img-responsive img-circle badge-img center-block"
                     ng-src="{{challenge.image}}"/>
                <img ng-show="!challenge.image" class="img-responsive img-circle badge-img center-block"
                     src="assets/img/challenge-default.jpg"/>
                <!-- points -->
                <span class="label label-primary badge-label-points">{{challenge.levels.length==1 ? challenge.levels[0].points : challenge.levels[0].points+" - "+challenge.levels[challenge.levels.length-1].points}}pts</span>
            </div>
            <div class="col-xs-12 col-md-9">
                <!-- rank -->
                <p ng-show="challenge.levelAcquired" style="margin-bottom: 0">
                    Niveau actuel : <span class="important">{{challenge.levels[challenge.levelAcquired-1].name}}</span>
                    ({{challenge.levelAcquired}}/{{challenge.levels.length}})
                </p>
                <!-- available from -->
                <p style="margin-bottom: 0">
                    Disponible du : <span class="important">{{challenge.startTime | date:'dd MMMM yyyy'}}
                </p>
                <!-- to -->
                <p style="margin-bottom: 0">
                    Jusqu'au : <span class="important">{{challenge.endTime | date:'dd MMMM yyyy'}}
                </p>
                <!-- length -->
                <p style="margin-bottom: 0">
                    Durée : <span class="important">{{challenge.length}}</span><span ng-show="challenge.timePercent">&nbsp;(temps restant : <span
                        class="important">{{challenge.remaining}}</span>)</span>
                </p>

                <!-- time bar -->
                <uib-progressbar style="margin-bottom: 0; margin-top:10px"
                                 ng-show="challenge.timePercent" max="100"
                                 value="challenge.timePercent" type="info"><span
                        class="glyphicon glyphicon-time"></span>&nbsp{{challenge.timePercent}}%
                </uib-progressbar>

                <!-- progress bar -->
                <uib-progressbar style="margin-bottom: 0; margin-top:10px"
                                 ng-show="challenge.progressPercent" max="100"
                                 value="challenge.progressPercent"
                                 type="{{challenge.progressPercent == 100 ? 'success' : ''}}"><span
                        class="glyphicon glyphicon-tasks"></span>&nbsp{{challenge.progressPercent}}%
                </uib-progressbar>
            </div>
        </div>

        <!-- levels -->
        <h3 class="badge-level-title" style="margin-bottom:20px">Niveaux</h3>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:10px" ng-repeat="level in challenge.levels">
                <!-- image -->
                <div style="margin-bottom:10px; text-align:center">
                    <img ng-show="level.image" class="img-responsive img-circle level-img center-block"
                         ng-src="{{level.image}}"/>
                    <img ng-show="!level.image" class="img-responsive img-circle level-img center-block"
                         src="assets/img/level-default.png"/>
                    <!-- points -->
                    <span class="label label-primary badge-label-points">{{level.points}}pts</span>
                </div>
                <!-- level name -->
                <h4 style="margin-bottom: 0; text-align:center"><span
                        style="font-weight:bold">{{level.name}}</span><span
                        ng-show="challenge.levelAcquired>=level.index"
                        class="glyphicon glyphicon-ok badge-glyphicon-sm"></h4>
                <!-- progress bar (level) -->
                <uib-progressbar style="margin-bottom:10px"
                                 ng-show="level.percent" max="100"
                                 value="level.percent" type="{{level.percent == 100 ? 'success' : ''}}">
                    {{level.percent}}%
                </uib-progressbar>

                <!-- conditions -->
                <div class="row">
                    <div class="col-xs-12" ng-repeat="condition in level.conditions">
                        <!-- condition -->
                        <p style="margin-bottom:0">&bull;&nbsp;{{condition.condition}}</p>
                        <!-- progress bar (condition) -->
                        <uib-progressbar class="condition-progressbar" style="margin-bottom: 0;"
                                         ng-show="condition.percent" max="100"
                                         value="condition.percent" type="{{condition.percent == 100 ? 'success' : ''}}">
                        </uib-progressbar>
                    </div>
                </div>
            </div>
        </div>

        <!--<uib-accordion close-others="oneAtATime">
            <uib-accordion-group ng-repeat="level in challenge.levels" heading="{{level.name}}">
                <uib-progressbar style="margin-bottom:10px"
                                 ng-show="level.percent" max="100"
                                 value="level.percent" type="success">{{level.percent}}%
                </uib-progressbar>
                <div class="row">
                    <div class="col-xs-12" ng-repeat="condition in level.conditions">
                        <p style="margin-bottom:0">{{condition.condition}}</p>
                        <uib-progressbar style="margin-bottom: 0;"
                                         ng-show="condition.percent" max="100"
                                         value="condition.percent" type="success">{{condition.percent}}%
                        </uib-progressbar>
                    </div>
                </div>
            </uib-accordion-group>
        </uib-accordion> -->
    </div>
    <div class="modal-footer">
        <!-- close -->
        <button type="button" class="btn btn-default"
                ng-click="cancel()">Fermer
        </button>
        <!-- take up challenge -->
        <button type="button" class="btn btn-primary"
                ng-click="takeUpChallenge()">Relever !
        </button>
    </div>
</div>