<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 badge-container">
    <!-- panel -->
    <div class="panel panel-default badge-panel">
        <div class="panel-body badge-padding">
            <!-- top-right icon -->
            <span ng-show="challenge.levelAcquired" class="glyphicon glyphicon-ok badge-glyphicon"></span>
            <!-- image -->
            <img class="img-responsive img-circle badge-img center-block" ng-src="{{challenge.image}}"/>
            <!-- title -->
            <h4 class="badge-title truncate">{{challenge.name}}</h4>
            <!-- subtitle -->
            <p ng-show="challenge.levelAcquired" class="badge-no-margin-bot truncate">
                {{challenge.levels[challenge.levelAcquired-1].name}}
                ({{challenge.levelAcquired}}/{{challenge.levels.length}})
            </p>
            <!-- time bar -->
            <uib-progressbar class="badge-margin-top badge-no-margin-bot" ng-show="challenge.timePercent" max="100"
                             value="challenge.timePercent" type="info"><span class="glyphicon glyphicon-time"></span>&nbsp{{challenge.timePercent}}%
            </uib-progressbar>

            <!-- progress bar -->
            <uib-progressbar class="badge-margin-top badge-no-margin-bot" ng-show="challenge.progressPercent" max="100"
                             value="challenge.timePercent" type="success"><span
                    class="glyphicon glyphicon-tasks"></span>&nbsp{{challenge.progressPercent}}%
            </uib-progressbar>
        </div>
        <!-- take up button -->
        <div style="position: absolute;bottom:10px; left:15px;right:15px;">
            <button ng-show="!challenge.progressPercent" type="button" class="btn btn-primary center-block"
                    ng-click="takeUpChallenge()">Relever !
            </button>
        </div>
        <!--<button ng-show="!challenge.progressPercent" type="button" class="btn btn-primary badge-bot-left"
                ng-click="takeUpChallenge()">Relever !
        </button>
        <button type="button" class="btn btn-info badge-bot-right"
                ng-click="moreInfo()">Details
        </button>-->
    </div>
</div>