<form accept-charset="UTF-8" role="form" method="post" ng-submit="onSubmit()">
    <!-- title -->
    <div class="modal-header">
        <h3 class="modal-title">Connexion</h3>
    </div>
    <div class="modal-body">
        <!-- mail -->
        <div class="form-group input-group">
          <span class="input-group-addon">
            @
          </span>
            <input class="form-control" placeholder="Email" ng-model="mail" type="email" required="" autofocus>
        </div>
        <!-- password -->
        <div class="form-group input-group" style="margin-bottom:0">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock">
            </i>
          </span>
            <input class="form-control" placeholder="Mot de passe" ng-model="password" type="password" value=""
                   required="">
        </div>
    </div>
    <div class="modal-footer">
        <!-- submit -->
        <button type="submit" class="btn btn-primary">
            Se connecter
        </button>
    </div>
</form>