.badge-container {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.badge-glyphicon {
    position: absolute;
    top: 0px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #fff;
    right: 10px;
    font-size: 5em;
    color: green;
    text-shadow: 0 0 5px black;
}

.badge-img {
    max-height: 128px;
    height: auto;
    border: 5px solid skyblue;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-box-shadow: 5px 5px 3px 0px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 5px 5px 3px 0px rgba(200, 200, 200, 0.75);
    box-shadow: 5px 5px 3px 0px rgba(200, 200, 200, 0.75);
}

.badge-panel {
    height: 300px;
    margin: 0px
}

.badge-margin-top {
    margin-top: 10px
}

.badge-no-margin-bot {
    margin-bottom: 0px
}

.badge-padding {
    padding: 10px;
}

.badge-title {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px
}

.badge-bot-left {
    position: absolute;
    bottom: 10px;
    left: 25px
}

.badge-bot-right {
    position: absolute;
    bottom: 10px;
    right: 25px
}