html, body {
    height: 100%;
}

body{
    background-color:aliceblue;
}

.navbar {
    -webkit-box-shadow: 0 0px 5px 0px #999;
    -moz-box-shadow: 0 0px 5px 0px #999;
    box-shadow: 0 0px 5px 0px #999;
}

.content {
    padding-top: 50px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-centered {
    float: none;
    margin: 0 auto;
}

.padding {
    padding: 15px;
}

.margin {
    margin: 15px;
}

.margin-top{
    margin-top:15px
}

.pointer-hover{
    cursor: pointer;
}

.modal-close-icon{
    cursor: pointer;
    position:absolute;
    right:15px
}

.important{
    font-weight: bold;
}

.navbar-right{
    padding-right:15px;
}

.justified{
    text-align:justify;
}