.user-container {
    text-align: center;
    padding:15px;
}

.user-pic {
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.user-pic-sm{
    max-height: 100px;
    height:auto;
    border: 2px solid black;
    -webkit-box-shadow: 4px 4px 2px 0px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 4px 4px 2px 0px rgba(200, 200, 200, 0.75);
    box-shadow: 4px 4px 2px 0px rgba(200, 200, 200, 0.75);
}

.user-pic-lg{
    max-height: 200px;
    height:auto;
    border: 2px solid black;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(200, 200, 200, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(200, 200, 200, 0.75);
}

.user-panel{
    margin:0px
}

.user-container a:hover {
    text-decoration: none;
}

.user-container a:hover img{
    opacity: 0.7;
}

.user-padding {
    padding: 10px;
}