<form accept-charset="UTF-8" role="form" method="post" ng-submit="onSubmit()" ng-controller="authenticationCtrl">
    <h4 style="text-align: center">
        Connexion
    </h4>
    <fieldset>
        <div class="form-group input-group" style="width:100%">
            <input class="form-control" placeholder="Email" ng-model="mail" type="email" style="border-radius:4px" required="">
        </div>
        <div class="form-group input-group" style="width:100%">
            <input class="form-control" placeholder="Mot de passe" ng-model="password" type="password" value=""
                   style="border-radius:4px" required="">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
                Se connecter
            </button>
        </div>
    </fieldset>
</form>