<div ng-controller="profileCtrl" class="padding">
    <div class="panel panel-default row margin padding">
        <div class="col-xs-12 col-sm-6 image-container">
            <!-- image -->
            <img ng-show="user.profilePic" class="img-responsive img-circle user-pic user-pic-lg center-block"
                 ng-src="{{user.profilePic}}"/>
            <img ng-show="!user.profilePic" class="img-responsive img-circle user-pic user-pic-lg center-block"
                 src="assets/img/user-default.png"/>
        </div>

        <div class="col-xs-12 col-sm-6">
            <!-- name -->
            <h1 style="font-weight: bold">{{user.firstName}} {{user.lastName}}</h1>
            <!-- points -->
            <h2 style="margin-top:10px; margin-bottom:20px">{{user.points}}pts</h2>
            <!-- challenges category switch -->
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="selected" uib-btn-radio="'completed'">D&eacute;fis r&eacute;ussis : {{challengesCompleted.length}}</label>
                <label class="btn btn-primary" ng-model="selected" uib-btn-radio="'current'">D&eacute;fis en cours : {{currentChallenges.length}}</label>
            </div>
        </div>
    </div>

    <!-- completed challenges -->
    <challenge ng-show="selected=='completed'" ng-repeat="challenge in challengesCompleted" challenge="challenge"></challenge>
    <!-- current challenges -->
    <challenge ng-show="selected=='current'" ng-repeat="challenge in currentChallenges" challenge="challenge"></challenge>
</div>