.user-container {
    text-align: center;
    padding:15px;
}

.user-pic {
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.user-pic-sm{
    max-height: 100px;
    height:auto;
    border: 2px solid black;
    -webkit-box-shadow: 4px 4px 2px 0px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 4px 4px 2px 0px rgba(200, 200, 200, 0.75);
    box-shadow: 4px 4px 2px 0px rgba(200, 200, 200, 0.75);

    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

.user-pic-lg{
    max-height: 200px;
    height:auto;
    border: 2px solid black;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(200, 200, 200, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(200, 200, 200, 0.75);
}

.user-panel{
    margin:0px
}

.user-container a:hover {
    text-decoration: none;
}

.user-container a:hover img{
    opacity: 0.5;
}

.user-padding {
    padding: 10px;
}

.user-name{
    margin-top:0;
    margin-bottom: 5px;
    color: #333;
}

.user-points{
    margin-top:0;
    margin-bottom: 0;
    color: #333;
}

.user-label-points {
    position: relative;
    top: -20px;
    background-color:black;
}